<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<h1 v-if="awesome">Vue is awesome!</h1>
<h1 v-else>Oh no 😢</h1>

<!-- 非描画要素のtemplateを使うと多数の要素に対してifできる-->
<template v-if="ok">
    <h1>Title</h1>
    <p>Paragraph 1</p>
    <p>Paragraph 2</p>
</template>


<div v-if="Math.random() > 0.5">
      Now you see me
</div>
<div v-else>
      Now you don't
</div>

<div v-if="type === 'A'">
    A
</div>
<div v-else-if="type === 'B'">
    B
</div>
<div v-else-if="type === 'C'">
    C
</div>
<div v-else>
    Not A/B/C
</div>

<!--keyを追加することで入力した値が再利用されないようにする-->
<template v-if="loginType === 'username'">
    <label>Username</label>
    <input placeholder="Enter your username" key="username-input">
</template>
<template v-else>
    <label>Email</label>
    <input placeholder="Enter your email address" key="email-input">
</template>

<!-- ifの代わりにshowでもOK。-->
<!-- 高頻繁に何かを切り替える必要があれば v-show を選び、条件が実行時に変更することがほとんどない場合は、v-if を選びます。-->
<h1 v-show="ok">Hello!</h1>


<script src="conditional.js"></script>