<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<h1 v-if="awesome">Vue is awesome!</h1>
<h1 v-else>Oh no 😢</h1>

<!-- 非描画要素のtemplateを使うと多数の要素に対してifできる-->
<template v-if="ok">
    <h1>Title</h1>
    <p>Paragraph 1</p>
    <p>Paragraph 2</p>
</template>


<div v-if="Math.random() > 0.5">
      Now you see me
</div>
<div v-else>
      Now you don't
</div>

<div v-if="type === 'A'">
    A
</div>
<div v-else-if="type === 'B'">
    B
</div>
<div v-else-if="type === 'C'">
    C
</div>
<div v-else>
    Not A/B/C
</div>
<script src="conditional.js"></script>