<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<ul id="example-1">
    <li v-for="item in items">
        {{ item.message }}
    </li>
</ul>

<ul id="example-2">
    <li v-for="(item, index) in items">
        {{ parentMessage }} - {{ index }} - {{ item.message }}
    </li>
</ul>

<!-- オブジェクトのfor-->
<ul id="v-for-object" class="demo">
    <li v-for="value in object">
        {{ value }}
    </li>
</ul>

<!-- オブジェクトのkey-->
<div id="v-for-key">
    <div v-for="(value, key) in object">
        {{ key }}: {{ value }}
    </div>
</div>

<!-- オブジェクトのindex-->
<div id="v-for-index">
    <div v-for="(value, key, index) in object">
        {{ index }}. {{ key }}: {{ value }}
    </div>
</div>

<!-- 繰り返される DOM の内容が単純な場合や、性能向上のために標準の動作に意図的に頼る場合を除いて、可能なときはいつでも v-for に key を与えることが推奨されます。-->


<script src="list.js"></script>